@import '_base';
@import '_theme';


//Main styling without theme
//Body
.container {
    font-family: $font-family-spartan, $font-family-fallback;
    font-size: $font-size;
    font-weight: $font-weight;

    min-height: 100vh;

    @include flex($align: center, $justify: center);
}

//Calculator
.calculator {
    max-width: 475px;
    width: 100%;

    @include flex($direction: column);
    gap: 30px;
}

.control-panel {
    @include grid($column: repeat(4, 1fr), $row: repeat(5, 1fr));

    padding: 30px;
    gap: 20px;
    border-radius: 10px;

    //For the last two button
    button[data-key="`"], button[data-key="="]{
        grid-column: span 2;
    }

    button {
        padding: 10px;
        border-radius: 10px;

        font-size: $font-size;
        font-weight: 900;
        font-family: $font-family-spartan, $font-family-fallback;

        cursor: pointer;
    }

    button:hover {
       border: none;
    }
}

//The display
.display {
    @include flex($direction: column);
    border-radius: 10px;
    padding: 30px;


    .sub-display {
        align-self: flex-end;
    }

    .main-display{
        @include flex($direction: row-reverse, $justify: flex-start);
        gap: 10px;
    }
}
//The theme mixing
header{
    @include flex($justify: space-between);
}

@media (max-width: 475px){
    .container{
        padding: 0 7px;
    }
}