@import '_base';
@import '_theme';


//Main styling without theme
//Body
.container {
    font-family: $font-family-spartan, $font-family-fallback;
    font-size: $font-size;
    font-weight: $font-weight;

    min-height: 100vh;

    @include flex($align: center, $justify: center);
}

//Calculator
.calculator {
    max-width: 475px;
    width: 100%;

    @include flex($direction: column);
    gap: 30px;
}

.control-panel {
    @include grid($column: repeat(4, 1fr), $row: repeat(5, 1fr));

    padding: 30px;
    gap: 20px;
    border-radius: 10px;

    //For the last two button
    button[data-key="`"], button[data-key="="]{
        grid-column: span 2;
    }

    button {
        padding: 10px;
        border-radius: 10px;

        font-size: $font-size;
        font-weight: 900;
        font-family: $font-family-spartan, $font-family-fallback;

        cursor: pointer;
    }

    button:hover {
       border: none;
    }
}

//The display
.display {
    @include flex($direction: column);
    border-radius: 10px;
    padding: 30px;


    .sub-display {
        align-self: flex-end;
    }

    .main-display{
        @include flex($direction: row-reverse, $justify: flex-start);
        gap: 10px;
    }
}

@media (max-width: 475px){
    .container{
        padding: 0 7px;
    }
}

//Header
//The theme mixing
header{
    @include flex($align: flex-end, $justify: space-between);
    gap: 10px;
}

.theme-slider {
    @include grid($column: 1fr 1fr,$row: 1fr 1fr);

    #theme-tittle {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #theme-name {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 0.7em;

        @include flex($align: flex-end, $justify: space-around);
    }
    .slider{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

//The theme slider 
.slider{
    border-radius: 30px;
    padding: 0 4px;
    position: relative;

    label {
        display: none;
    }

    input[type="radio"] {
        opacity: 0;
    }

    .indicator {
        height: 21px;
        width: 21px;
        border-radius: 30px;
        border: none;
        position: absolute;
        top: 12%;
        left: 5%;

        transition: 0.1s;
        transform: translateX(0);
    }

    input#theme-2:checked ~ .indicator {
        transition: 0.1s;
        transform: translateX(1em);
    }
    input#theme-3:checked ~ .indicator {
        transition: 0.1s;
        transform: translateX(2.1em);
    }

}