*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h3, h5 {
  margin: 0;
  padding: 0;
}

h3 {
  height: 1em;
}

.theme-1 .container {
  background-color: hsl(222deg, 26%, 31%);
}
.theme-1 .control-panel {
  background-color: hsl(223deg, 31%, 20%);
}
.theme-1 .control-panel button[data-key="`"], .theme-1 .control-panel button[data-key=Backspace] {
  background-color: hsl(225deg, 21%, 49%);
  border: 1px solid hsl(225deg, 21%, 49%);
  box-shadow: 0 3px hsl(224deg, 28%, 35%);
}
.theme-1 .control-panel button[data-key="`"]:hover, .theme-1 .control-panel button[data-key=Backspace]:hover {
  background-color: #9fa8c1;
}
.theme-1 .control-panel button[data-key="="] {
  background-color: hsl(6deg, 63%, 50%);
  border: 1px solid hsl(6deg, 63%, 50%);
  box-shadow: 0 3px hsl(6deg, 70%, 34%);
}
.theme-1 .control-panel button[data-key="="]:hover {
  background-color: #e38c82;
}
.theme-1 .control-panel button {
  color: hsl(221deg, 14%, 31%);
  background-color: hsl(30deg, 25%, 89%);
  border: 1px solid hsl(30deg, 25%, 89%);
  box-shadow: 0 3px hsl(28deg, 16%, 65%);
}
.theme-1 .control-panel button[data-key="`"],
.theme-1 .control-panel button[data-key=Backspace],
.theme-1 .control-panel button[data-key="="] {
  color: hsl(0deg, 0%, 100%);
}
.theme-1 .control-panel button:hover {
  background-color: white;
}
.theme-1 .display {
  background-color: hsl(224deg, 36%, 15%);
}
.theme-1 .display h3, .theme-1 .display h5 {
  color: hsl(0deg, 0%, 100%);
}
.theme-1 header {
  color: hsl(0deg, 0%, 100%);
}
.theme-1 .slider {
  background-color: hsl(223deg, 31%, 20%);
}
.theme-1 .slider .indicator {
  box-shadow: 0px 2px hsl(6deg, 70%, 34%);
  background-color: hsl(6deg, 63%, 50%);
}
.theme-1 .slider .indicator:hover {
  background-color: #dc4838;
}

.theme-2 .container {
  background-color: hsl(0deg, 0%, 90%);
}
.theme-2 .control-panel {
  background-color: hsl(0deg, 5%, 81%);
}
.theme-2 .control-panel button[data-key="`"], .theme-2 .control-panel button[data-key=Backspace] {
  background-color: hsl(185deg, 42%, 37%);
  border: 1px solid hsl(185deg, 42%, 37%);
  box-shadow: 0 3px hsl(185deg, 58%, 25%);
}
.theme-2 .control-panel button[data-key="`"]:hover, .theme-2 .control-panel button[data-key=Backspace]:hover {
  background-color: #63b8bf;
}
.theme-2 .control-panel button[data-key="="] {
  background-color: hsl(25deg, 98%, 40%);
  border: 1px solid hsl(25deg, 98%, 40%);
  box-shadow: 0 3px hsl(25deg, 99%, 27%);
}
.theme-2 .control-panel button[data-key="="]:hover {
  background-color: #fd8835;
}
.theme-2 .control-panel button {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(45deg, 7%, 89%);
  border: 1px solid hsl(45deg, 7%, 89%);
  box-shadow: 0 3px hsl(35deg, 11%, 61%);
}
.theme-2 .control-panel button[data-key="`"],
.theme-2 .control-panel button[data-key=Backspace],
.theme-2 .control-panel button[data-key="="] {
  color: hsl(60deg, 10%, 19%);
}
.theme-2 .control-panel button:hover {
  background-color: white;
}
.theme-2 .display {
  background-color: hsl(0deg, 0%, 93%);
}
.theme-2 .display h3, .theme-2 .display h5 {
  color: hsl(60deg, 10%, 19%);
}
.theme-2 header {
  color: hsl(60deg, 10%, 19%);
}
.theme-2 .slider {
  background-color: hsl(0deg, 5%, 81%);
}
.theme-2 .slider .indicator {
  box-shadow: 0px 2px hsl(25deg, 99%, 27%);
  background-color: hsl(25deg, 98%, 40%);
}
.theme-2 .slider .indicator:hover {
  background-color: #ef6401;
}
.theme-2 .control-panel button {
  color: hsl(60deg, 10%, 19%);
}
.theme-2 .control-panel button[data-key="`"],
.theme-2 .control-panel button[data-key=Backspace],
.theme-2 .control-panel button[data-key="="] {
  color: hsl(0deg, 0%, 100%);
}

.theme-3 .container {
  background-color: hsl(268deg, 75%, 9%);
}
.theme-3 .control-panel {
  background-color: hsl(268deg, 71%, 12%);
}
.theme-3 .control-panel button[data-key="`"], .theme-3 .control-panel button[data-key=Backspace] {
  background-color: hsl(281deg, 89%, 26%);
  border: 1px solid hsl(281deg, 89%, 26%);
  box-shadow: 0 3px hsl(285deg, 91%, 52%);
}
.theme-3 .control-panel button[data-key="`"]:hover, .theme-3 .control-panel button[data-key=Backspace]:hover {
  background-color: #9c0dde;
}
.theme-3 .control-panel button[data-key="="] {
  background-color: hsl(176deg, 100%, 44%);
  border: 1px solid hsl(176deg, 100%, 44%);
  box-shadow: 0 3px hsl(177deg, 92%, 70%);
}
.theme-3 .control-panel button[data-key="="]:hover {
  background-color: #47fff3;
}
.theme-3 .control-panel button {
  color: hsl(198deg, 20%, 13%);
  background-color: hsl(268deg, 47%, 21%);
  border: 1px solid hsl(268deg, 47%, 21%);
  box-shadow: 0 3px hsl(290deg, 70%, 36%);
}
.theme-3 .control-panel button[data-key="`"],
.theme-3 .control-panel button[data-key=Backspace],
.theme-3 .control-panel button[data-key="="] {
  color: hsl(52deg, 100%, 62%);
}
.theme-3 .control-panel button:hover {
  background-color: #de97ed;
}
.theme-3 .display {
  background-color: hsl(268deg, 71%, 12%);
}
.theme-3 .display h3, .theme-3 .display h5 {
  color: hsl(52deg, 100%, 62%);
}
.theme-3 header {
  color: hsl(52deg, 100%, 62%);
}
.theme-3 .slider {
  background-color: hsl(268deg, 71%, 12%);
}
.theme-3 .slider .indicator {
  box-shadow: 0px 2px hsl(177deg, 92%, 70%);
  background-color: hsl(176deg, 100%, 44%);
}
.theme-3 .slider .indicator:hover {
  background-color: #cefdfb;
}
.theme-3 .control-panel button {
  color: hsl(52deg, 100%, 62%);
}
.theme-3 .control-panel button[data-key="="] {
  color: hsl(198deg, 20%, 13%);
}
.theme-3 .control-panel button[data-key="`"],
.theme-3 .control-panel button[data-key=Backspace] {
  color: hsl(0deg, 0%, 100%);
}

.container {
  font-family: "League Spartan", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.calculator {
  max-width: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 30px;
}

.control-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 30px;
  gap: 20px;
  border-radius: 10px;
}
.control-panel button[data-key="`"], .control-panel button[data-key="="] {
  grid-column: span 2;
}
.control-panel button {
  padding: 10px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 900;
  font-family: "League Spartan", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}
.control-panel button:hover {
  border: none;
}

.display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  border-radius: 10px;
  padding: 30px;
}
.display .sub-display {
  align-self: flex-end;
}
.display .main-display {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  gap: 10px;
}

@media (max-width: 475px) {
  .container {
    padding: 0 7px;
  }
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.theme-slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.theme-slider #theme-tittle {
  grid-column: 1/2;
  grid-row: 2/3;
}
.theme-slider #theme-name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
}
.theme-slider .slider {
  grid-column: 2/3;
  grid-row: 2/3;
}

.slider {
  border-radius: 30px;
  padding: 0 4px;
  position: relative;
}
.slider label {
  display: none;
}
.slider input[type=radio] {
  opacity: 0;
}
.slider .indicator {
  height: 21px;
  width: 21px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 12%;
  left: 5%;
  transition: 0.1s;
  transform: translateX(0);
}
.slider input#theme-2:checked ~ .indicator {
  transition: 0.1s;
  transform: translateX(1em);
}
.slider input#theme-3:checked ~ .indicator {
  transition: 0.1s;
  transform: translateX(2.1em);
}

/*# sourceMappingURL=style.css.map */
